USE [master]
GO
/****** Object:  Database [DBGradeSystem]    Script Date: 31.10.2024 14:28:15 ******/
CREATE DATABASE [DBGradeSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBGradeSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBGradeSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBGradeSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBGradeSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBGradeSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBGradeSystem]
GO
/****** Object:  Table [dbo].[Tbl_StudentGrades]    Script Date: 31.10.2024 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_StudentGrades](
	[StID] [smallint] IDENTITY(1,1) NOT NULL,
	[StNumber] [char](4) NULL,
	[StName] [varchar](15) NULL,
	[StSurname] [varchar](20) NULL,
	[StE1] [tinyint] NULL,
	[StE2] [tinyint] NULL,
	[StE3] [tinyint] NULL,
	[StAvg] [decimal](18, 2) NULL,
	[StStatus] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Teacher]    Script Date: 31.10.2024 14:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Teacher](
	[TeacherID] [smallint] IDENTITY(1,1) NOT NULL,
	[TeacherNumber] [char](4) NULL,
	[TeacherName] [varchar](15) NULL,
	[TeacherSurname] [varchar](20) NULL
) ON [PRIMARY]
GO
USE [master]
GO
